@media (max-width: 992px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;

  }

  h3 {
    font-size: 12px;

  }

  h4, h5, h6 {
    font-size: 8px;
  }
  body > div {
    padding-bottom: 0;
  }
  img {
    max-width: 100%;
  }
  .breadcrumb-container {
    display: none;
  }
  header.header-transparent {
    background: #49377a;
  }
  .page {
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
  }
  .btn-menu {
    position: absolute;
    right: 70px;
    top: 10px;
    padding: 5px 10px;
  }

  .btn-menu svg {
    margin-right: 0;
  }

  #menu-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 51px;
    background: #49377a;
  }

  #menu-header ul {
    margin-left: 0;
  }

  #menu-header ul li a {
    margin-left: 0;
    padding: 10px 15px 5px 10px !important;
  }

  #menu-header ul li a.selected {
    border-bottom: none;
  }

  #menu-header .navbar-submenu {
    display: block !important;
    position: static;
    min-width: auto;
  }

  #menu-header .navbar-submenu.invisible-mobile {
    display: none !important;
  }

  #menu-header .navbar-submenu ul {
    box-shadow: none;
    background: transparent;
    border: none;
    margin-top: 0;
    padding-top: 0;
  }

  #menu-header .navbar-submenu ul:before {
    display: none !important;
  }

  #menu-header .navbar-submenu ul:after {
    display: none !important;
  }

  #menu-header .navbar-submenu ul a {
    padding-left: 30px !important;
    color: #FFFFFF !important;
  }

  #menu-header .navbar-submenu ul a:hover {
    background: rgba(255, 255, 255, 0.10);
  }

  #menu-header.show {
    display: block !important;
  }

  .shortcode.shortcode-container.container-small {
    width: 100%;
  }

  .shortcode-game-thumbnail {
    margin-bottom: 15px !important;
  }

  .shortcode.shortcode-highlight {
    margin-left: -15px;
    margin-right: -15px;
  }

  .shortcode.shortcode-game-cover {
    display: none;
  }

  .shortcode.shortcode-model-game .shortcode-highlight h1 {
    text-align: center;
    width: 100%;
  }

  .shortcode.shortcode-model-game .shortcode-highlight h4 {
    display: none;
  }

  .shortcode.shortcode-model-game .shortcode-entity-button-download {
    display: block;
    margin: 0 auto 30px auto;
    text-align: center;
  }


  .shortcode.shortcode-model-resource-pack .shortcode-highlight h1 {
    text-align: center;
    width: 100%;
  }

  .shortcode.shortcode-model-resource-pack .shortcode-highlight h4 {
    display: none;
  }

  .shortcode.shortcode-model-resource-pack .shortcode-entity-button-download {
    display: block;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .shortcode.shortcode-box-highlight {
    display: none;
  }

  .shortcode.shortcode-cover {
    background-image: none;
  }

  .shortcode.shortcode-cover svg#illustration {
    display: none;
  }

  footer {
    position: static;
  }
}